{% extends 'home/base.html' %}
{% block content %}
<header class="py-4 my-5">
	<div class="container h-100">
	  <div class="row h-100 align-items-center">
		<div class="col-lg-12">
		</div>
	  </div>
	</div>
</header>

<article>
	<div class="text-center">
		<div>
			<h1>찜 목록</h1>
			<div class="mt-3 text-muted">눈 여겨 봤던 이벤트, 센터, 클래스를 한 눈에 볼 수 있습니다.</div>
			<div class="text-muted">찜 목록에서 제외시키고 싶다면 하트를 눌러주세요.</div>
		</div>
		<div class="pb-5" style="background-color:#F7F8F8;">
		<hr class="my-4">
		<div>
		  <h2 class="mb-5" style="color:#2f956d">이벤트 목록</h2>
		</div>
	  <div class="swiper-container" style="height:580px;">
		<div class="swiper-wrapper">
				{% for event in events %}
				<div class="swiper-slide">
					<div class="card box-shadow" style="height:580px;">
						<img class="card-img-top" src="{{ event.event.url }}" alt="Card image cap">
						<div class="like-position">
						  <a href="{% url 'del_from_cart_event' id=event.id %}"><button class="button button-like">
							<i class="fa fa-heart"></i>
						  </button></a>
						</div>
						<div class="card-body">
							<h5 class="card-title"><a href="{% url 'center_detail' id=event.id %}" class="text-dark">{{ event.name }}</a></h5><br>
							<ul style="list-style:none; padding:0;">
								<li>{{ event.address }}</li>
								<li>{{ event.phone }}</li>
							</ul>
						</div>
						<div class="card-footer">
						<small class="text-muted">#{{ event.type }}</small>
					</div>
					</div>
				</div>
				{% endfor %}

		</div>
	  </div>
		
	<br>
	<hr class="my-4">
	  <div>
		  <h2 class="mb-5" style="color:#2f956d">센터 목록</h2>
	  </div>
	  <div class="swiper-container" style="height:580px;">
		<div class="swiper-wrapper">
				{% for center in centers %}
				<div class="swiper-slide">
					<div class="card box-shadow" style="height:580px;">
						{% for image in center.center_image.all %}
						<img class="card-img-top" src="{{ image.image1.url }}" alt="Card image cap">
						{% endfor %}
						<div class="like-position">
						  <a href="{% url 'del_from_cart_center' id=center.id %}"><button class="button button-like">
							<i class="fa fa-heart"></i>
						  </button></a>
						</div>
						<div class="card-body">
							<h5 class="card-title"><a href="{% url 'center_detail' id=center.id %}" class="text-dark">{{ center.name }}</a></h5><br>
							<ul style="list-style:none; padding:0;">
								<li>{{ center.address }}</li>
								<li>{{ center.phone }}</li>
							</ul>
						</div>
						<div class="card-footer">
						<small class="text-muted">#{{ center.type }}</small>
					</div>
					</div>
				</div>
				{% endfor %}
		</div>
	  </div>
	<br>
	<hr class="my-4">
	  <div>
		  <h2 class="mb-5" style="color:#2f956d">원데이클래스 목록</h2>
	  </div>
	  <div class="swiper-container" style="height:580px;">
		<div class="swiper-wrapper">
				{% for onedayclass in onedayclasses %}
				<div class="swiper-slide">
					<div class="card box-shadow" style="height:580px;">
						<img class="card-img-top" src="{{ onedayclass.image.url }}" alt="Card image cap">
						<div class="like-position">
						  <a href="{% url 'del_from_cart_onedayclass' id=onedayclass.id %}"><button class="button button-like">
							<i class="fa fa-heart"></i>
						  </button></a>
						</div>
						<div class="card-body">
							<h5 class="card-title"><a href="{% url 'onedayclass_detail' id=onedayclass.id %}" class="text-dark">{{ onedayclass.name }}</a></h5><br>
							<ul style="list-style:none; padding:0;">
								<li>{{ onedayclass.address }}</li>
								<li>{{ onedayclass.phone }}</li>
							</ul>
						</div>
						<div class="card-footer">
						<small class="text-muted">#{{ onedayclass.type }}</small>
					</div>
					</div>
				</div>
				{% endfor %}
		</div>
		</div>
	  </div>
	</div>
	{% if messages %}
	  {% for message in messages %}
	  <script>
		alert('{{ message }}');
	  </script>
	{% endfor %}
	{% endif %}
</article>
<script type="text/javascript">
    new Swiper('.swiper-container', {

    	slidesPerView : 4, // 동시에 보여줄 슬라이드 갯수
    	spaceBetween : 30, // 슬라이드간 간격
    	slidesPerGroup : 4, // 그룹으로 묶을 수, slidesPerView 와 같은 값을 지정하는게 좋음

    	// 그룹수가 맞지 않을 경우 빈칸으로 메우기
    	// 3개가 나와야 되는데 1개만 있다면 2개는 빈칸으로 채워서 3개를 만듬
    	loopFillGroupWithBlank : true,

    	loop : true, // 무한 반복

    	pagination : { // 페이징
    		el : '.swiper-pagination',
    		clickable : true, // 페이징을 클릭하면 해당 영역으로 이동, 필요시 지정해 줘야 기능 작동
    	},
    	navigation : { // 네비게이션
    		nextEl : '.carousel-control-next', // 다음 버튼 클래스명
    		prevEl : '.carousel-control-prev', // 이번 버튼 클래스명
    	},
    });
	

    $('.myCarousel').carousel({interval:3000});

</script>
{% endblock %}
