{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<header class="py-4 my-5">
	<div class="container h-100">
	  <div class="row h-100 align-items-center">
		<div class="col-lg-12">
		</div>
	  </div>
	</div>
</header>
<div class="container">

  <h1>회원탈퇴하기</h1>
  <div class="my-3 text-muted">비밀번호를 입력하신 후에 회원탈퇴 버튼을 누르세요.</div>
  <hr style="margin: 30px 0; background-color:#9cbeb0; height: 1px; border:0;">
  <form method="post" action="">
	{% csrf_token %}
	<div class="form-group row">
	  <label for="username" class="col-sm-2 col-form-label">아이디</label>
	  <div class="col-sm-10">
		<input type="text" readonly class="form-control-plaintext" id="username" value="{{ request.user }}">
	  </div>
	</div>
	<div class="form group row">
	  <label for="{{form.password.id_for_label}}" class="col-sm-2 col-form-label">비밀번호</label>
	  <div class="col-sm-10">
		<input class="form-control" id="{{ form.password.id_for_label }}"
		  name="{{ form.password.html_name }}" type="text" />
	  </div>
	</div>
	<br>
	<div class="text-right mb-4">
	  <button class="btn btn-success type="submit">회원탈퇴</button>
	</div>
  </form>
  {% if message %}
	<script>
	  alert('{{message}}');
	</script>
  {% endif %}
				
</div>
{% endblock %}
