{% extends 'home/base.html' %}

{% block content %}
<div class="jumbotron">
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link" href="#">아이디 찾기</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">패스워드찾기</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">회원가입</a>
    </li>
  </ul>
</div>
<br>
<div class="container marketing">
  <form method="POST" action="">
    {% csrf_token %}
    <div class="form group row">
      <label for="{{ form.username.id_for_label }}" class="col-sm-2 col-form-label">username</label>
      <div class="col-sm-10">
        <input class="form-control" id="{{ form.username.id_for_label }}"
          name="{{ form.username.html_name }}" type="text" />
      </div>
    </div>
    <br>
    <div class="form group row">
      <label for="{{ form.email.id_for_label }}" class="col-sm-2 col-form-label">email</label>
      <div class="col-sm-10">
        <input class="form-control" id="{{ form.email.id_for_label }}"
          name="{{ form.email.html_name }}" type="text" />
      </div>
    </div>
    <br>
    <div class="text-right mb-4">
      <button class="btn btn-primary type="submit">패스워드 찾기</button>
    </div>
  </form>
  {% if message %}
    <script>
      alert('{{message}}');
    </script>
  {% endif %}
</div>
{% endblock %}
