{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<header class="py-4 my-5">
	<div class="container h-100">
	  <div class="row h-100 align-items-center">
		<div class="col-lg-12">
		</div>
	  </div>
	</div>
</header>
  <div class="container marketing">
    <br>
    <h1>내 정보 관리</h1>
	<hr style="margin: 30px 0; background-color:#9cbeb0; height: 1px; border:0;">
    <div class="row mb-1">
      <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-1">개인정보</h3>
            <div class="mb-3 text-muted">수정하기 버튼을 통해 고객님의 개인정보를 변경하실 수 있습니다.</div>
            <span class="mb-2">아이디: {{ user.username }}</span>
            <span class="mb-2">이메일: {{ user.email }}</span>
            <div class="text-right">
              <a href="{% url 'update' %}"><button class="btn btn-outline-success btn-sm col-md-2">수정하기</button></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-1">찜목록</h3>
            <div class="mb-1 text-muted">고객님께서 선택하신 센터들을 모아볼 수 있습니다.</div><br><br><br>
            <a href="{% url 'cart_list' %}">
              <div class="text-right">
                <button class="btn btn-outline-success btn-sm col-md-2">확인하기</button>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0">고객센터</h3>
            <div class="mb-1 text-muted"></div>
            <a href="#">
              <div class="text-right">
                <a href="{% url 'service_center' %}"><button class="btn btn-outline-success btn-sm col-md-2">확인하기</button></a>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0">약관 및 정책</h3>
            <div class="mb-1 text-muted"></div>
            <a href="{% url 'terms' %}">
              <div class="text-right">
                <button class="btn btn-outline-success btn-sm col-md-2">확인하기</button>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0">회원탈퇴</h3>
            <div class="mb-1 text-muted">회원탈퇴를 원하신다면 클릭해주세요.</div>
            <a href="{% url 'deleteAccount' %}">
              <div class="text-right">
                <button class="btn btn-outline-success btn-sm col-md-2">회원탈퇴</button>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if message %}
  <script>
      alert('{{ message }}');
  </script>
  {% endif %}
{% endblock %}
