{% extends 'home/base.html' %}

{% block content %}
<form method="post">
  <div class="container">
      <div class="spacer_30">&nbsp;</div>
      <div class="spacer_90 hidden-sm hidden-xs">&nbsp;</div>
      <div class="row">
          <div class="col-md-8 col-md-offset-2">
              <div class="panel panel-default">
                  <div class="panel-body">
                      <p>임시 비밀번호를 보내드렸습니다. 이메일 주소를 확인해주세요.
                      임시 비밀번호로 로그인 한 후, 마이페이지에서 비밀번호를 변경해주세요.</p>
                      <p><a class="btn btn-success" type="submit" href="{% url 'signin' %}">로그인 페이지로 이동</a></p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</form>
{% endblock %}
