{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<header class="py-5 mb-5">
	<div class="container h-100">
	  <div class="row h-100 align-items-center">
		<div class="col-lg-12">
		</div>
	  </div>
	</div>
</header>

<article>
	<div class="container">
		<div class="row">
			<div class="col-4 col-sm-4">
				<h3>안녕하세요</h3>
				<h3>프리라나 고객센터입니다.</h3>
				<h3></h3>
			</div>
			<div class="col-8 col-sm-8">고객센터</div>
		</div>
		<div>
			<h5>홈페이지에 잘못된 정보가 기재되어 있거나, 불편한 사항이 있다면 고객센터로 문의주세요.</h5>
			<h5>카카오톡 플친 ID: prerana, 전화번호: 02-0000-0000</h5>
		</div>
	</div>
</article>
{% endblock %}
