{% extends 'home/base.html' %}
{% load static %}
{% load tags %}
{% load widget_tweaks %}
{% block content %}
	 <!-- Header -->
	<header class="py-5 mb-5">
		<div class="container h-100">
		  <div class="row h-100 align-items-center">
			<div class="col-lg-12">
			</div>
		  </div>
		</div>
	</header>

	<article>
	    <!-- Page Content 1 -->
		<div class="container">
			<div class="text-center">
				<p style="font-weight:bold; color:#000;">당신의 하루를 특별하게 만들어줄, 단 하루만 진행되는 원데이 클래스를 만나보세요.</p>
				<hr style="margin: 30px 0; background-color:#9cbeb0; height: 1px; border:0;">
			</div>
			<form>
			<ul class="list-group">
			  <li class="list-group-item">
				<div class="form-group row">
					<label class="col-2 col-form-label"><strong>지역</strong></label>
					{% render_field filter.form.place class="form-control col-sm-2" id="exampleFormControlSelect1" %} &nbsp &nbsp
					{% render_field filter.form.place1 class="form-control col-sm-2 addr" id="서울특별시" %}
					{% render_field filter.form.place2 class="form-control col-sm-2 addr" id="경기도" %}
				</div>
			  </li>
			  <li class="list-group-item">
				<div class="form-group row">
					<label class="col-2 col-form-label"><strong>운동 종류</strong></label>
					{% for choice in filter.form.type %}
						<div class="form-check form-check-inline">
							{{ choice.tag }}
							<label class="form-check-label" >{{ choice.choice_label }}</label>
						</div>
					{% endfor %}
				</div>
			  </li>
			  <li class="list-group-item">
				<div class="form-group row">
					<label class="col-2 col-form-label"><strong>강사 성별</strong></label>
					{% for choice in filter.form.gender %}
						<div class="form-check form-check-inline">
							{{ choice.tag }}
					  	<label class="form-check-label" >{{ choice.choice_label }}</label>
						</div>
					{% endfor %}
				</div>
			  </li>
			  <li class="list-group-item">
				<div class="form-group row">
					<label class="col-2 col-form-label"><strong>요일</strong></label>
					{% for choice in filter.form.day %}
						<div class="form-check form-check-inline">
							{{ choice.tag }}
					  	<label class="form-check-label" >{{ choice.choice_label }}</label>
						</div>
					{% endfor %}
				</div>
			  </li>
			  <li class="list-group-item">
				<div class="form-group row">
					<label class="col-2 col-form-label"><strong>특별 테마</strong></label>
					{% for choice in filter.form.theme %}
						<div class="form-check form-check-inline">
							{{ choice.tag }}
					  	<label class="form-check-label" >{{ choice.choice_label }}</label>
						</div>
					{% endfor %}
				</div>
			  </li>
			  <li class="list-group-item">
				<div class="form-group row">
					<label class="col-2 col-form-label"><strong>가격</strong></label>
						<span class="form-inline">
							{% render_field filter.form.price__lt class="form-control col-6" %}&nbsp 원 이하</span>
				</div>
			  </li>
				<li class="list-group-item">
				<div class="form-group row">
					<label class="col-2 col-form-label"><strong>정렬</strong></label>
					{% for choice in filter.form.o %}
						{% if forloop.counter > 1 %}
						<div class="form-check form-check-inline">
							{{ choice.tag }} &nbsp
							<label class="form-check-label" >{{ choice.choice_label }}</label>
						</div>
						{% endif %}
					{% endfor %}
				</div>
			  </li>
			</ul>
			<br>
			<div class="d-flex justify-content-center">
				<button type="submit" class="btn btn-lg btn-outline-success"><strong>검 색</strong></button>
			</div>
			</form>
			<div class="text-center">
				<hr style="margin: 30px 0; background-color:#9cbeb0; height: 1px; border:0;">
			</div>
		</div>

	    <!-- Page Content 2 -->
		<div class="container">
			<div class="float-left">검색 결과</div>
		</div>
		<br><br><br>
		<div class="container">
			<div class="row">
				{% for onedayclass in filter.qs %}
				<div class="col-md-4">
				  <div class="card mb-4 box-shadow" style="height:600px;">
					<img class="card-img-top" src="{{ onedayclass.image.url }}" alt="Card image cap">
					<div class="like-position">
						{% if request.user.is_authenticated %}
							{% if cart|onedayclass_in_cart:onedayclass.id %}
							<a href="{% url 'add_to_cart_onedayclass' id=onedayclass.id %}"><button class="button button-like liked">
								<i class="fa fa-heart"></i>
							</button></a>
							{% else %}
							<a href="{% url 'add_to_cart_onedayclass' id=onedayclass.id %}"><button class="button button-like">
								<i class="fa fa-heart"></i>
							</button></a>
							{% endif %}
						{% else %}
						<button class="button button-like">
							<i class="fa fa-heart"></i>
						</button>
						{% endif %}
					</div>
					<div class="card-body">
						<h5 class="card-title"><a href="{% url 'onedayclass_detail' id=onedayclass.id %}"
							class="text-dark">{{ onedayclass.name }}</a></h5><br>
						<ul style="list-style:none; padding:0;">
						  <li>가격: {{ onedayclass.price }}</li>
						  <li>일시: {{ onedayclass.date|date:"Y년 m월 d일" }}</li>
						  <li>장소: {{ onedayclass.place }}</li>
						</ul>
					</div>
					<div class="card-footer">
					  <small class="text-muted">#{{ onedayclass.type }}</small>
					</div>
				  </div>
				</div>
					{% endfor %}
			</div>
		</div>
		{% if messages %}
		  {% for message in messages %}
		  <script>
		    alert('{{ message }}');
		  </script>
		{% endfor %}
		{% endif %}
	</article>


	<script>

		$(function() {    // Makes sure the code contained doesn't run until
                  //     all the DOM elements have loaded
		$('.addr').hide();
		document.getElementById("서울특별시").selectedIndex = 0;
		document.getElementById("경기도").selectedIndex = 0;
    $('#exampleFormControlSelect1').change(function(){
        $('.addr').hide();
        $('#' + $(this).val()).show();
    });

	});
	</script>


{% endblock %}
