{% extends 'home/base.html' %}
{% load static %}
{% block content %}

 <!-- Header -->
<header class="py-4 mb-5">
<div class="container h-100">
  <div class="row h-100 align-items-center">
	<div class="col-lg-12">
	</div>
  </div>
</div>
</header>

  <!-- Page Content -->
	<article>
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-3">
				<div class="position-fixed p-3 border">
					<div class="row">
						<div class="col">
							<h2>수업 정보 &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp </h2>
						</div>
					</div>
					<div class="row">
					  <div class="col">
						<hr>
						<address>
							<span>수업명 </span>
							<h3>{{ onedayclass.name }}</h3>
						</address><br>
						<address>
						  <p title="price">가격: 인당 {{ onedayclass.price }}원</p>
						  <p title="site">일정: {{ onedayclass.date }} </p>
						  <p title="Phone">문의전화: {{ onedayclass.sns }}</p>
						  <p title="location">장소:
						  {{ onedayclass.place }}
						  </p>
						</address>
						<div id="map" style="width:100%;height:250px;"></div>
					  </div>
					</div>
				</div>
			</div>
			<div class="col-7">

				<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
					  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
					  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
					  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
					</ol>
					<div class="carousel-inner" role="listbox">
					  <!-- Slide One - Set the background image for this slide in the line below -->
					  <div class="carousel-item active" style="background-image: url({{ onedayclass.image.url }})">

					  </div>


					</div>
					<a class="carousel-control-prev " href="#carouselExampleIndicators" role="button" data-slide="prev">
						  <span class="carousel-control-prev-icon " aria-hidden="true"></span>
						  <span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
						  <span class="carousel-control-next-icon" aria-hidden="true"></span>
						  <span class="sr-only">Next</span>
					</a>
				</div>
				<br><br>
				<div class="row">
					<div class="col">
						<h2>건강하고 행복한 하루를 만들어 드립니다.</h2>

						<hr style="margin: 30px 0; background-color:#9cbeb0; height: 1px; border:0;">
					</div>
				</div>
				<div class="row">
					<div class="col">
						<p>{{ onedayclass.description }}<p>
					</div>
				</div>
				<br><br>
				<div class="row">
					<div class="col">
						<h2>이용 정보</h2><hr style="margin: 30px 0; background-color:#9cbeb0; height: 1px; border:0;">
					</div>
				</div>
				<div class="row">
					<div class="col">
						<ul>
							<li>일정: {{ onedayclass.date }}</li>
							<li>장소: {{ onedayclass.place }} </li>
							<li>문의전화: {{ onedayclass.sns }}</li>
						</ul>
					</div>
				</div>
				<br><br>
				<div class="row">
					<div class="col">
						<h2>이용 가격</h2><hr style="margin: 30px 0; background-color:#9cbeb0; height: 1px; border:0;">
					</div>
				</div>
				<div class="row">
					<div class="col">
						<ul>
							<li>인당 {{ onedayclass.price }}원</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</article>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f00208e764317b06b615cb607ec0207c&libraries=services"></script>
<script>
var mapContainer = document.getElementById('map'), // 지도를 표시할 div
    mapOption = {
        center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };

// 지도를 생성합니다
var map = new kakao.maps.Map(mapContainer, mapOption);

// 주소-좌표 변환 객체를 생성합니다
var geocoder = new kakao.maps.services.Geocoder();

// 주소로 좌표를 검색합니다
geocoder.addressSearch('{{ onedayclass.place }}', function(result, status) {

    // 정상적으로 검색이 완료됐으면
     if (status === kakao.maps.services.Status.OK) {

        var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

        // 결과값으로 받은 위치를 마커로 표시합니다
        var marker = new kakao.maps.Marker({
            map: map,
            position: coords
        });

        // 인포윈도우로 장소에 대한 설명을 표시합니다
        var infowindow = new kakao.maps.InfoWindow({
            content: '<div style="width:150px;text-align:center;padding:6px 0;">'
              + '{{ onedayclass.name }}' + '</div>'
        });
        infowindow.open(map, marker);

        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
        map.setCenter(coords);
    }
});
</script>

{% endblock %}
