{% extends 'home/base.html' %}
{% load static %}
{% block content %}

	 <!-- Header -->
	  <header class="py-4 mb-5">
		<div class="container h-100">
		  <div class="row h-100 align-items-center">
			<div class="col-lg-12">
			</div>
		  </div>
		</div>
	  </header>

	  <!-- Page Content -->

	  <div class="container">
		<div class="row justify-content-between">
			<div class="col-3">
				<div class="position-fixed p-3 border">
					<div class="row">
						<div class="col">
							<h2>센터 정보 &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp </h2>
						</div>
					</div>
					<div class="row">
					  <div class="col">
						<hr>
						<address>
							<span>센터명 </span>
							<h3>{{ center.name }}</h3>
						</address><br>
						<address>
						  <p title="phone">전화번호: {{ center.phone }}</p>
						  <p title="site">사이트:
						  <a href="{{ center.site }}">{{ center.site }}</a>
						  </p>
						  <p title="location">위치:
						  {{ center.address }}
						  </p>
						</address>
						<div id="map" style="width:100%;height:250px;"></div>
					  </div>
					</div>
				</div>
			</div>
			<div class="col-7">
				<div class="row">
					<div class="col">
						<h2>센터 사진</h2><hr style="margin: 30px 0; background-color:#9cbeb0; height: 1px; border:0;">
					</div>
				</div>
				<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
					  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
					  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
					  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
					</ol>
					<div class="carousel-inner" role="listbox">
					  <!-- Slide One - Set the background image for this slide in the line below -->
						{% for image in center.center_image.all %}
					  <div class="carousel-item active" style="background-image: url({{ image.image1.url }})">

					  </div>
					  <!-- Slide One - Set the background image for this slide in the line below -->
					  <div class="carousel-item" style="background-image: url({{ image.image2.url }})">

					  </div>
					  <!-- Slide One - Set the background image for this slide in the line below -->
					  <div class="carousel-item" style="background-image: url({{ image.image3.url }})">

					  </div>
						{% endfor %}
					</div>
					<a class="carousel-control-prev " href="#carouselExampleIndicators" role="button" data-slide="prev">
						  <span class="carousel-control-prev-icon " aria-hidden="true"></span>
						  <span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
						  <span class="carousel-control-next-icon" aria-hidden="true"></span>
						  <span class="sr-only">Next</span>
					</a>
			    </div>
			    <br><br>
				<div class="row">
					<div class="col">
						<h2>이용 정보</h2><hr style="margin: 30px 0; background-color:#9cbeb0; height: 1px; border:0;">
					</div>
				</div>
				<div class="row">
					<div class="col">
						<ul>
							<li>{{ center.info }}</li>
							<li>주차공간 없음</li>
							<li>운영시간: 오전9시 ~ 오후10시</li>
						</ul>
					</div>
				</div>
				<br><br>
				<div class="row">
					<div class="col">
						<h2>이용 가격</h2><hr style="margin: 30px 0; background-color:#9cbeb0; height: 1px; border:0;">
					</div>
				</div>
				<div class="row">
					<div class="col">
						<ul>
							<li>{{ center.price }}</li>
						</ul>
					</div>
				</div>
				<br><br>
				<div class="row">
					<div class="col">
						<h2>강사진 및 시간표</h2><hr style="margin: 30px 0; background-color:#9cbeb0; height: 1px; border:0;">
					</div>
				</div>
				<div class="row">
					<div class="col">
						<ul>
							<li>강사진: 정지솔, 한혜원</li>
							<li>시간표<img src="{{ center.image.url }}"></li>
						</ul>
					</div>
				</div>
				<br><br>
				<div class="row">
					<div class="col">
						<h2>이벤트</h2><hr style="margin: 30px 0; background-color:#9cbeb0; height: 1px; border:0;">
					</div>
				</div>
				<div class="row">
					<div class="col">
						<ul>
							{% if center.event %}
							<img src="{{ center.event.url }}"/>
							{% else %}
							<li>준비중입니다.</li>
							{% endif %}
						</ul>
					</div>
				</div>
			  </div>
			</div>
		</div>


		<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f00208e764317b06b615cb607ec0207c&libraries=services"></script>
		<script>
		var mapContainer = document.getElementById('map'), // 지도를 표시할 div
		    mapOption = {
		        center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
		        level: 3 // 지도의 확대 레벨
		    };

		// 지도를 생성합니다
		var map = new kakao.maps.Map(mapContainer, mapOption);

		// 주소-좌표 변환 객체를 생성합니다
		var geocoder = new kakao.maps.services.Geocoder();

		// 주소로 좌표를 검색합니다
		geocoder.addressSearch('{{ center.address }}', function(result, status) {

		    // 정상적으로 검색이 완료됐으면
		     if (status === kakao.maps.services.Status.OK) {

		        var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

		        // 결과값으로 받은 위치를 마커로 표시합니다
		        var marker = new kakao.maps.Marker({
		            map: map,
		            position: coords
		        });

		        // 인포윈도우로 장소에 대한 설명을 표시합니다
		        var infowindow = new kakao.maps.InfoWindow({
		            content: '<div style="width:150px;text-align:center;padding:6px 0;">'
									+ '{{ center.name }}' + '</div>'
		        });
		        infowindow.open(map, marker);

		        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
		        map.setCenter(coords);
		    }
		});
		</script>
{% endblock %}
